/* .profileList {
  display: flex;
  justify-content: flex-end;
  margin: 
} */



 .profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.profileList {
  flex-basis: 81%;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  width: 100%;
  justify-content: space-evenly;
}

.profileEvents {
  display: flex;
}


.btn-info {
  color: rgb(155, 55, 55);
  background: rgba(119, 228, 57, 0.911);
}

.profile-header {
  display: flex;
  margin: 1rem;
}
.profile-wrapper {
    display: flex;
    flex-direction: column;

}

.card {
  border-radius: 8px;
  margin: .55rem;
}