 .profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.profile-list {
  flex-basis: 81%;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  width: 100%;
  justify-content: space-evenly;
  color:#18CAE6
}

.profile-events {
  display: flex;
}


.profile-header {
  display: flex;
  margin: .55rem;
}
.profile-wrapper {
    display: flex;
    flex-direction: column;

}

.active-header {
  color: #18CAE6;
}

.active-event-list {
  color: #18CAE6;
  padding: .55rem;
}




