.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  .profileList {
      flex-basis: 81%;
      margin: 0;
      padding: 0;
      border-radius: 5px;
      width: 100%;
      justify-content: space-evenly;
  }

.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  .event {
      flex-basis: 81%;
      margin: 0;
      padding: 0;
      border: 1px solid goldenrod;
      border-radius: 5px;
      width: 100%;
      justify-content: space-evenly;
  }

  .btn-info {
    color: rgb(155, 55, 55);
    background: rgba(119, 228, 57, 0.911);
    
  }

