.event__name {
  color: #18cae6;
  /* margin-bottom: 0; */
}

.avoid-event-name {
  color: #ff0505;
  /* margin-bottom: 0; */
}

.card {
  border-radius: 5px;
  margin: 0.55rem;
  border: 1px solid #18cae6;
  background-color: black;
  color: #18cae6;
}

.cool-card {
  border-radius: 5px;
  margin: 0.55rem;
  border: 2px solid #3fff05;
  background-color: black;
  color: #3fff05;
}

.avoid-card {
  border-radius: 5px;
  margin: 0.55rem;
  border: 2px solid #ff0505;
  background-color: black;
  color: #ff0505;
}

.caution-card {
  border-radius: 5px;
  margin: 0.55rem;
  border: 2px solid #fbff00;
  background-color: black;
  color: #fbff00;
}


.event-button {
  border-top: 1px solid #18cae6;
  border-bottom: black;
  border-left: black;
  border-right: black;
  border-radius: 0px;
  background-color: black;
  margin-bottom: .25rem;
  color: #18cae6;
  
}

.form-body {
  border: 1px solid #18cae6;
  background-color: black;
  color: #18cae6;
}

.eventForm {
  margin: 0 0 0.3rem 0.5rem;
  color: #18cae6;
}

.dropdown-button {
  border: 1px solid #18cae6;
  background-color: black;
  color: #18cae6;
}

.form-button {
  border: 1px solid #18cae6;
  background-color: black;
  color: #18cae6;
  margin: 0.55rem;
}

.eventFormGroup {
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.dateForm {
  margin: 1rem 6rem 0.5rem 0.5rem;
}

.event__creator__name {
  color: #18cae6;  
}

