.app-title {
    font-family: 'Orbitron', sans-serif; 
    margin-top: 8px;    
    border-radius: 20px;
    padding: 5px;
    background-color: #e61818 ;
    max-width: fit-content;

}

.nav-links {
    color: #18CAE6; 
    font-family: 'Orbitron', sans-serif; 
    
}


.mr-auto {
    justify-content: space-between;
}

