.active-menu {
    background-color: black;
}

.radio-cool {
    color: #08ff15;  
    padding: .55rem;
}

.radio-avoid {
    color: #fa0404;
    padding: .55rem;
}

.radio-neutral {
    color: #18cae6;
    padding: .55rem;
}

.radio-header {
    margin: .55rem;
    
}